---


const platillos = [
  {
    imagen: "dropbox/entradas/chistorraDropbox.webp",
    titulo: "Chistorra  ( Spanish sausage style )",
    descripcion:
      "Embutido estilo espanol, la carne es 100% de cerdo, su color rojo caracteristico se lo aporta el pimienton como condimento bascio. contiene ajo y la  tripa en la que est embutida es de cordero",
    gramaje: "220 grs.",
  },
  {
    imagen: "",
    titulo: "Chorizo argentino ( Argentinan sausage style )",
    descripcion:
      "Embutido clasico de las parrilladas argentinas. Elaborado con carne de cerdo y de res, conocido como chorizo criollo para los argentinos. Lo elaboramos en casa y contiene chile quebrado, oregano y ajo.",
    gramaje: "130 grs.",
  },
];
---

<section class="flex h-screen w-full  flex-col bg-orange-100 text-black ">
  <img class=" h-96 my-24" src="https://www.lamatera.mx/wp-content/themes/bmx-lamatera/assets/img-logotipo-rojo.svg" alt="logo de la matera">
  {
    platillos.map(({ imagen, titulo, descripcion, gramaje }) => (
      <article class=" m-8 flex  gap-12  ">
        <div class=" ">
          <img
            src={imagen}
            alt=" "
            class="  rounded-full m-8 size-52 object-cover shadow-2xl"
          />
        </div>

        <div class="  bg-slate-300/60 shadow-xl flex w-[800px] flex-col justify-center p-4 ">
          <h2 class=" font-bold text-3xl mb-4">{titulo}</h2>
          <p class="  text-2xl mb-4">{descripcion}</p>
          <p class=" font-semibold text-xl flex justify-end">{gramaje}</p>
        </div>
      </article>
    ))
  }
</section>
