---
import HomeReserva from "../components/HomeReserva.astro";
import LandingHeader from "../components/LandingHeader.astro";
import Carta from "../components/Carta.astro";
import Contacto from "../components/Contacto.astro";
import Eventos from "../components/Eventos.astro";
import Nosotros from "../components/Nosotros.astro";
import Layout from "../layouts/Layout.astro";
import SectionBackground from "../components/Caurosel.astro";
import SmokeEffect from "@/components/SmokeEffect.astro";
---

<Layout title="La Matera - El sabor de argentina en casa">
  <LandingHeader />

  <main>
    <SmokeEffect />

    <HomeReserva />
    <Carta />
    <Eventos />
  </main>
</Layout>
