---
import "@fontsource/permanent-marker";
import Layout from "@/layouts/Layout.astro";
const calamar = {
  visualDescription:
    " Un calamar que obrtenemos de la patagonia Argentia. siempre intentamos reflejar el respeto por el producto  ",
  title: "Visual del paltillo del calamar",
  description: " Visual del platillo del calamar ",
  preparacion: "Previamente marinado con un Provenzal (ajo y perejil)",
  acompañamiento:
    "tomates rostizados, una de las guarniciones mas atesoradas de la matera",
};
---

<Layout title={calamar.title} description={calamar.description}>
  <div class="relative flex justify-center h-screen w-full text-white">
    <img
      src="/imagenes/visuales/calamarVisual.webp"
      alt="imagen en alta calidad del Matambrito de cerdo"
      class="object-cover h-full w-full"
    />
    <!-- edita las posiciones segun lo necesites -->
    <div class="absolute top-[135px] max-w-[180px] left-[195px]">
      <p class="caja-texto font-pages opacity-80 text-sm">
        {calamar.visualDescription}
      </p>
    </div>
    <div class="svg absolute top-[220px] left-[110px] rotate-[-60deg]">
      <svg
        class="svg"
        width="70"
        height="68"
        viewBox="0 0 147 108"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M69.3449 1.31903C56.3743 3.69562 44.3436 10.248 34.1121 20.5869C27.036 27.6898 22.3767 34.6316 15.5289 48.2601C7.37862 64.4531 2.85368 78.9677 1.34984 93.3347C0.86646 98.0879 0.86646 98.6115 1.34984 99.8871C2.03462 101.686 4.63945 104.587 6.89521 106.077C9.17783 107.608 9.47323 107.581 9.20469 105.983C8.72131 103.056 10.44 93.2407 12.9912 84.4997C23.3569 49.106 38.7713 27.3675 61.1275 16.7333C81.2682 7.11952 102.362 9.5901 114.581 22.9903C117.092 25.7294 119.213 30.2275 120.838 36.1891C122.825 43.4532 124.128 50.7978 123.671 51.9928C123.416 52.6507 123.644 52.7715 115.454 47.5887C105.934 41.5197 102.617 40.0561 102.027 41.5599C101.207 43.7486 109.035 53.7114 117.897 61.7408C123.013 66.4 124.933 67.9978 131.526 73.1135C137.071 77.4505 138.307 78.2293 139.381 78.2293C140.267 78.2293 140.321 77.8667 140.522 71.7037C140.724 66.4537 140.818 65.8092 144.47 46.9308L146.041 38.9819L145.329 37.6392C144.161 35.4506 140.119 30.6706 137.904 28.8445C135.984 27.2735 132.036 24.8701 131.808 25.1655C131.378 25.622 130.21 28.388 129.364 31.0331C128.773 32.7921 128.25 34.2288 128.196 34.2288C128.142 34.2288 126.827 32.5638 125.323 30.5498C121.764 25.7966 120.596 24.427 116.031 19.7947C106.216 9.85864 96.2394 3.85675 85.4843 1.43988C81.765 0.620824 73.4939 0.526837 69.3449 1.30561V1.31903Z"
          fill="currentColor"></path>
      </svg>
    </div>
    <div class="absolute top-[515px] max-w-[115px] left-[10px]">
      <p class="caja-texto2 font-pages opacity-80 text-sm">
        {calamar.acompañamiento}
      </p>
    </div>
    <div class="svg2 absolute top-[470px] left-[100px] rotate-[10deg]">
      <svg
        width="48"
        height="110"
        viewBox="0 0 48 218"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M43.6953 0.553886C43.2025 1.04659 43.1086 1.32814 43.1086 2.64201C43.1086 3.6978 43.2729 4.54243 43.6484 5.41053C44.1412 6.63055 44.1647 6.84171 44.1412 14.8657C44.1178 23.4294 43.9535 28.0514 42.9913 45.601C41.7006 68.8753 40.668 81.0521 38.7671 95.3404C36.8193 110.075 32.6656 130.745 29.1219 143.555C26.6344 152.447 19.9696 172.765 16.9422 180.601C14.1496 187.828 9.92543 196.72 8.35309 198.691L7.88374 199.277L8.02454 196.227C8.30615 190.197 8.23576 173.727 7.93068 173.187C7.60213 172.53 6.49915 171.944 5.65432 171.944C4.66868 171.944 3.54224 173.234 3.23716 174.759C3.09635 175.463 2.86167 179.264 2.74433 183.206C2.36885 195.101 1.89949 200.849 0.749579 207.723C-0.165658 213.19 -0.21259 214.316 0.444503 215.56C1.2424 217.085 1.99337 217.554 3.87078 217.648C5.11457 217.718 5.84206 217.624 7.27359 217.132C9.69075 216.311 15.5811 213.472 22.6683 209.694C32.3839 204.509 31.9381 204.791 31.3983 204.251C30.8116 203.665 19.2655 206.527 11.1692 209.272C8.89285 210.023 6.96851 210.656 6.87464 210.656C6.80423 210.656 6.73382 210.304 6.73382 209.882C6.73382 209.295 7.08585 208.709 8.28269 207.254C14.9475 199.136 19.5706 189.165 26.6344 167.721C33.4165 147.121 35.599 138.98 39.0018 121.266C44.1412 94.6131 46.136 73.0281 47.1451 33.0957C47.3563 24.4148 47.3563 20.3793 47.1216 15.0065C46.6757 4.16704 46.2768 1.11697 45.1738 0.319265C44.4698 -0.149975 44.3524 -0.126513 43.6953 0.553886Z"
          fill="currentColor"></path>
      </svg>
    </div>
    <div class="absolute top-[605px] max-w-[120px] left-[190px]">
      <p class="caja-texto3 font-pages opacity-80 text-sm">
        {calamar.preparacion}
      </p>
    </div>
    <div class="svg3 absolute top-[430px] left-[220px] -rotate-[180deg]">
        <svg
        width="48"
        height="160"
        viewBox="0 0 48 218"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M43.6953 0.553886C43.2025 1.04659 43.1086 1.32814 43.1086 2.64201C43.1086 3.6978 43.2729 4.54243 43.6484 5.41053C44.1412 6.63055 44.1647 6.84171 44.1412 14.8657C44.1178 23.4294 43.9535 28.0514 42.9913 45.601C41.7006 68.8753 40.668 81.0521 38.7671 95.3404C36.8193 110.075 32.6656 130.745 29.1219 143.555C26.6344 152.447 19.9696 172.765 16.9422 180.601C14.1496 187.828 9.92543 196.72 8.35309 198.691L7.88374 199.277L8.02454 196.227C8.30615 190.197 8.23576 173.727 7.93068 173.187C7.60213 172.53 6.49915 171.944 5.65432 171.944C4.66868 171.944 3.54224 173.234 3.23716 174.759C3.09635 175.463 2.86167 179.264 2.74433 183.206C2.36885 195.101 1.89949 200.849 0.749579 207.723C-0.165658 213.19 -0.21259 214.316 0.444503 215.56C1.2424 217.085 1.99337 217.554 3.87078 217.648C5.11457 217.718 5.84206 217.624 7.27359 217.132C9.69075 216.311 15.5811 213.472 22.6683 209.694C32.3839 204.509 31.9381 204.791 31.3983 204.251C30.8116 203.665 19.2655 206.527 11.1692 209.272C8.89285 210.023 6.96851 210.656 6.87464 210.656C6.80423 210.656 6.73382 210.304 6.73382 209.882C6.73382 209.295 7.08585 208.709 8.28269 207.254C14.9475 199.136 19.5706 189.165 26.6344 167.721C33.4165 147.121 35.599 138.98 39.0018 121.266C44.1412 94.6131 46.136 73.0281 47.1451 33.0957C47.3563 24.4148 47.3563 20.3793 47.1216 15.0065C46.6757 4.16704 46.2768 1.11697 45.1738 0.319265C44.4698 -0.149975 44.3524 -0.126513 43.6953 0.553886Z"
          fill="currentColor"></path>
      </svg>
    </div>
  </div>
</Layout>

<style>
  .caja-texto {
    animation: aparecer 500ms ease-in 900ms both;
  }
  .caja-texto2 {
    animation: aparecer 500ms ease-in 1.6s both;
  }
  .caja-texto3 {
    animation: aparecer 500ms ease-in 1.9s both;
  }
  .svg {
    animation: aparecerFlecha 500ms ease-in 500ms both;
  }
  .svg2 {
    animation: aparecerFlecha 500ms ease-in 1.2s both;
  }
  .svg3 {
    animation: aparecerFlecha 500ms ease-in 1.7s both;
  }

  @keyframes aparecer {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 0.9;
    }
  }

  @keyframes aparecerFlecha {
    0% {
      opacity: 0;
      width: 0;
    }

    100% {
      opacity: 0.9;
      
    }
  }
</style>
