---
import Caurosel from "./Caurosel.astro";
const { color, title, subtitle, id, showFooterContent } = Astro.props;
const textColor = `text-${color}`;
---
<section
  class="landing-sec h-full w-full overflow-hidden "
  data-header-color={color}
  id={id}
>

<Caurosel
  title="carta"
  subtitle="ve nuestros platillos"
  color="white"
  id="carta"
>
</Caurosel>
  
</section>

