---
const { color, title, subtitle, id, showFooterContent } = Astro.props;
const textColor = `text-${color}`;

import ExMenuEnsaladas from "./exMenuEnsaladas.astro";
import ExMenuEntradas from "./exMenuEntradas.astro";
import ExMenuEmpanadas from "./exMenuEmpanadas.astro";
import ExMenuPizzas from "./exMenuPizzas.astro";
import ExMenuCocina from "./exMenuCocina.astro";
---

<section
  class="landing-section bg-neutral-900 h-screen w-screen overflow-hidden py-[60px]"
  data-header-color={color}
  id={id}
>
  <!-- //navegacion sm -->

  <nav id="modal-menu" class="md:hidden text-center">
    <button
      id="boton-carta"
      class="md:hidden border-[2px] backdrop-blur-sm font-bold text-xl rounded-xl text-white px-12 py-2 inline-block hover:scale-105 bg-red-500 hover:text-white transition-colors"
    >
      Carta
    </button>
    <ul
      id="lista"
      class="w-60 border-solid border-black border-1 rounded-md bg-white bg-opacity-20 flex flex-col mx-auto mt-4 [&>li>a]:transition-colors [&>li]:m-3 [&>li>a]:flex [&>li>a]:justify-center [&>li>a]:duration-200 [&>li>a]:text-black [&>li>a]:font-medium [&>li>a]:px-6 [&>li>a]:py-2 [&>li>a]:rounded-md"
    >
      <li>
        <a class="hover:bg-blue-200 hover:text-red-500" href="#home">
          Empanadas<img class="h-5" alt="arrow icon" src="/arrow-icon.svg" /></a
        >
      </li>
      <li>
        <a class="hover:bg-blue-200 hover:text-red-500" href="#model-s"
          >Entradas<img class="h-5" alt="arrow icon" src="/arrow-icon.svg" /></a
        >
      </li>
      <li>
        <a class="hover:bg-blue-200 hover:text-red-500" href="#model-3">
          Ensaladas<img class="h-5" alt="arrow icon" src="/arrow-icon.svg" /></a
        >
      </li>
      <li>
        <a class="hover:bg-blue-200 hover:text-red-500" href="#model-x"
          >Pizzas<img class="h-5" alt="arrow icon" src="/arrow-icon.svg" /></a
        >
      </li>
      <li>
        <a class="hover:bg-blue-200 hover:text-red-500" href="#model-y"
          >Nuetsra Cocina<img
            class="h-5"
            alt="arrow icon"
            src="/arrow-icon.svg"
          /></a
        >
      </li>
      <li>
        <a class="hover:bg-slate-100 hover:text-red-500" href="#powerwall"
          >Mar<img class="h-5" alt="arrow icon" src="/arrow-icon.svg" /></a
        >
      </li>
      <li>
        <a class="hover:bg-slate-100 hover:text-red-500" href="#powerwall"
          >Granja<img class="h-5" alt="arrow icon" src="/arrow-icon.svg" /></a
        >
      </li>
      <li>
        <a class="hover:bg-slate-100 hover:text-red-500" href="#powerwall"
          >Carne<img class="h-5" alt="arrow icon" src="/arrow-icon.svg" /></a
        >
      </li>
      <li>
        <a class="hover:bg-slate-100 hover:text-red-500" href="#powerwall"
          >Postres<img class="h-5" alt="arrow icon" src="/arrow-icon.svg" /></a
        >
      </li>
    </ul>
  </nav>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const boton = document.getElementById("boton-carta");
      // Obtén el botón y el elemento <ul>
      const ul = document.getElementById("lista");
      const items = ul.querySelectorAll("li");

      boton.addEventListener("click", function () {
        items.forEach((item) => {
          if (
            item.style.visibility === "hidden" ||
            item.style.visibility === ""
          ) {
            item.style.visibility = "visible";
          } else {
            item.style.visibility = "hidden";
          }
          if (
            ul.style.visibility === "hidden" ||
            item.style.visibility === ""
          ) {
            ul.style.visibility = "visible";
          } else {
            ul.style.visibility = "hidden";
          }
          if (item.style.visibility === "visible") {
            ul.style.visibility = "visible";
          }
        });
      });
    });
  </script>

  <!-- // navegacion media  -->
  <header class="hidden md:block text-center bg-slate-400 py-12">
    <h1 class="text-5xl font-semibold">Menú</h1>
    <h3 class="text-3xl font-medium">Apetito por lo que hacemos</h3>
  </header>

  <ul
    id="navegacion-carta"
    class="flex py-5 mx-auto [&>li>a]:px-3 justify-center md:[&>li>a]:text-nowrap lg:[&>li>a]:px-5 lg:[&>li>a]:text-2xl lg:flex sticky top-0"
  >
    <li class="">
      <a
        id="ver-empanadas"
        
        class="font-semibold text-white text-sm hover:text-red-500">Empanadas</a
      >
      <a
        id="ver-entradas"
        
        class="font-semibold text-white text-sm hover:text-red-500">Entradas</a
      >
      <a
        id="ver-ensaladas"
        
        class="font-semibold text-white text-sm hover:text-red-500">Ensaladas</a
      >
      <a
        id="ver-pizzas"
        
        class="font-semibold text-white text-sm hover:text-red-500">Pizzas</a
      >
      <a
        id="ver-cocina"
        onclick="toggleDiv('NuestraCocina')"
        class="font-semibold text-white text-sm hover:text-red-500"
        >Nuestra cocina</a
      >
      <a
        id="ver-parrilla"
        
        class="font-semibold text-white text-sm hover:text-red-500">Parrilla</a
      >
      <a
        id="ver-postres"
        
        class="font-semibold text-white text-sm hover:text-red-500">Postres</a
      >
    </li>
  </ul>
  <div
    id="Empanadas"
    class="flex justify-center justify-between mr-10 ml-10 p-7 bg-zinc-400 opacity-70"
    style=" "
  >
    <p>Carne $60</p>
    <p>Carne picante $60</p>
    <p>Humita $60</p>
    <p>Queso con cebolla $60</p>
    <p>Espinaca $60</p>
    <p>Roquefort $70</p>
    <p>Siciliana $110</p>
  </div>
  <div
    id="Pizzas"
    class=" hidden flex justify-center justify-between mr-10 ml-10 p-7 bg-slate-600 opacity-70"
    style=" "
  >
    <p>Hongios $660</p>
    <p>Carbon $30</p>
    <p>Humitcdscva $760</p>
    <p>Queso con cebolla $60</p>
    <p>Espinaca $60</p>
    <p>Roquefort $70</p>
    <p>Siciliana $110</p>
    <p>Siciliana $110</p>
    <p>Siciliana $110</p>
  </div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", function (){
    const empanadas = document.getElementById("ver-empanadas");
    const pizzas = document.getElementById("ver-pizzas");

    const empanadasDiv = document.getElementById("Empanadas");
    const pizzasDiv = document.getElementById("Pizzas");

    empanadas.addEventListener("click", function(){
      empanadasDiv.style.opacity = "1";
      empanadasDiv.style.display = "flex";
      pizzasDiv.style.opacity = "0";
      
      
    })
    pizzas.addEventListener("click", function(){
      pizzasDiv.style.opacity = "1";
      pizzasDiv.style.display = "flex";
      empanadasDiv.style.opacity = "0";
      setTimeout(() => { empanadasDiv.style.display = "none"; }, 100);
    })
  })
</script>


