---
const { color, title, subtitle, id, showFooterContent } = Astro.props;
const textColor = `text-${color}`;
import Caurosel from "@/components/Caurosel.astro"
---

<section
  class="landing-section w-screen h-screen text-center overflow-hidden  "
  data-header-color={color}
  id={id}
>

<Caurosel id="eventos" title="eventos"></Caurosel>
</section>

