<section 
    class="my-40 flex w-3/5 h-[330px] mx-auto [&>img]:w-0 [&>img]:flex-grow [&>img]:object-cover [&>img]:opacity-50 rounded-sm gap-1"
  >
    <img
      class="hover:cursor-crosshair hover:w-[100px] hover:h-[400px] hover:rounded-lg hover:scale-125 hover:opacity-100 hover:contrast-125 ease-out duration-300 transform origin-center hover:z-10"
      src="public/imagenes/pollo.webp"
      alt=""
    />
    <img
      class="hover:cursor-crosshair hover:w-[100px] hover:h-[400px] hover:rounded-lg hover:scale-125 hover:opacity-100 hover:contrast-125 ease-out duration-300 transform origin-cente hover:z-10"
      src="public/imagenes/vino.webp"
      alt=""
    />
    <img
      class="hover:cursor-crosshair hover:w-[100px] hover:h-[400px] hover:rounded-lg hover:scale-125 hover:opacity-100 hover:contrast-125 ease-out duration-300 transform origin-center hover:z-10"
      src="public/imagenes/carne.webp"
      alt=""
    />
    <img
      class="hover:cursor-crosshair hover:w-[100px] hover:h-[400px] hover:rounded-lg hover:scale-125 hover:opacity-100 hover:contrast-125 ease-out duration-300 transform origin-center hover:z-10"
      src="public/imagenes/boquete.webp"
      alt=""
    />
    <img
      class="hover:cursor-crosshair hover:w-[100px] hover:h-[400px] hover:rounded-lg hover:scale-125 hover:opacity-100 hover:contrast-125 ease-out duration-300 transform origin-center hover:z-10"
      src="public/imagenes/camarones.webp"
      alt=""
    />
  </section>