---
import Portada from "./Portada.astro"


---

<Portada 
  title="Buenos Amigos, Buenos Vinos, Buenos Aires."
  subtitle=" lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. "
  color="white"
  id="home"
>



  <div slot="footer">
    <a
      class="border-[2px] border-red-600 bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-red-600 hover:text-white transition-colors lg:text-xl"
      href="#"
    >
      Resrevar</a
    >
  </div>

   <video
    slot="background"
    class=" hidden md:block  object-center  object-cover h-screen w-full "
    autoplay
    muted
    loop
    src="/video.mp4"
    >
  </video> 
 
</Portada>
