---
import Portada from "./Portada.astro"

---

<Portada class=""
  title="Aqui se esta cocinando Algo"
  subtitle="Al mero punto shef"
  color="white"
  id="home"
>
  <div slot="footer">
    <a
      class="border-[2px] border-red-500 bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-red-500 hover:text-white transition-colors"
      href="#"
    >
      Resrevar</a
    >
  </div>

  <video
    slot="background"
    class="object-center object-cover h-full w-full"
    autoplay
    muted
    loop
    src="/video.mp4"></video>
</Portada>
