---
import Logo from "./Logo.astro";
---

<header
  id="landing-header"
  class="py-3 px-10 flex items-center fixed top-0 w-full justify-between z-40 text-white"
>
  <div class="flex flex-grow basis-0">
    <a href="./"><Logo /></a>
  </div>

  <nav class="hidden md:block">
    <ul
      class="flex text-sm [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:text-current [&>li>a]:font-bold [&>li>a]:text-xl [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2"
    >
      <li>
        <a class="hover:text-red-500" href="#home" aria-label="Reserva"
          >Reserva</a
        >
      </li>
      <li>
        <a class="hover:text-red-500" href="#carta" aria-label="carta">Carta</a>
      </li>
      <li>
        <a class="hover:text-red-500" href="#nosotros" aria-label="nosotros"
          >Nosotros</a
        >
      </li>
      <li><a class="hover:text-red-500" href="#eventos">Eventos</a></li>
      <li><a class="hover:text-red-500" href="#contacto">Contacto</a></li>
    </ul>
  </nav>

  <nav class="flex flex-grow justify-end basis-0 ">
    <ul
      class="flex text-sm [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:text-current [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2"
    >
      <li class="hidden md:block font-bold text-xl hover:text-red-600" ><a href="#">Tienda</a></li>
      <li class="md:hidden border-[2px] border-red-600 bg-white/5 backdrop-blur-sm text-xl rounded font-medium text-white inline-block hover:bg-red-600 hover:text-white transition-colors -mr-4 "><a id="menu-btn" href="#carta">
        ☰</a></li>
    </ul>
  </nav>

  <nav
    id="modal-menu"
    class="hidden lg:hidden flex flex-col bg-orange-50 fixed top-0 left-0 right-0 bottom-0"
  >
    <button id="close-btn" class="w-screen flex justify-end p-5">
      <img class="text-black h-6" src="/close-icon.svg" alt="close image" />
    </button>
    <ul
      class="flex flex-col mt-4 [&>li>a]:transition-colors [&>li]:m-3 [&>li>a]:flex [&>li>a]:justify-between [&>li>a]:duration-200 [&>li>a]:text-black [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-6 [&>li>a]:py-3 [&>li>a]:rounded-md [&>li>a]:w-full"
    >
      <li>
        <a class="hover:bg-blue-200 hover:text-red-500" href="#home">
          Resrevar <img class="h-5" alt="arrow icon" src="/arrow-icon.svg" /></a
        >
      </li>
      <li>
        <a class="hover:bg-blue-200 hover:text-red-500" href="#carta"
          >Carta<img class="h-5" alt="arrow icon" src="/arrow-icon.svg" /></a
        >
      </li>
      <li>
        <a class="hover:bg-blue-200 hover:text-red-500" href="#contacto">
          Contacto<img class="h-5" alt="arrow icon" src="/arrow-icon.svg" /></a
        >
      </li>
      <li>
        <a class="hover:bg-blue-200 hover:text-red-500" href="#nosotros"
          >Nosotros<img class="h-5" alt="arrow icon" src="/arrow-icon.svg" /></a
        >
      </li>
      <li>
        <a class="hover:bg-blue-200 hover:text-red-500" href="#Eventos"
          >Eventos<img class="h-5" alt="arrow icon" src="/arrow-icon.svg" /></a
        >
      </li>
      <li>
        <a class="hover:bg-slate-100 hover:text-red-500" href="#powerwall"
          >Tienda<img class="h-5" alt="arrow icon" src="/arrow-icon.svg" /></a
        >
      </li>
    </ul>
  </nav>

  <div
    id="menu-backdrop"
    class={` 
      absolute bg-white/10 backdrop-blur-lg rounded
      translate-x-[var(--left)] translate-y-[var(--top)]
      left-0 top-0
      w-[var(--width)] h-[var(--height)]
      transition-all duration-400
      ease-in-out opacity-0 -z-10
    `}
  >
  </div>
  
</header>


<script>
  const menuBtn = document.getElementById("menu-btn");
  const modalMenu = document.querySelector("#modal-menu");
  const menuItems = modalMenu.querySelectorAll("li>a ");
  const closeBtn = document.querySelector("#close-btn");

  function toggleDropdownMenu() {
    modalMenu.classList.toggle("hidden");
  }

  menuBtn.addEventListener("click", toggleDropdownMenu);

  closeBtn.addEventListener("click", toggleDropdownMenu);

  menuItems.forEach((item) => {
    item.addEventListener("click", toggleDropdownMenu);
  });
</script>

<script>
  const listItem = document.querySelectorAll("#landing-header li");
  const menuBackDrop = document.querySelector("#menu-backdrop") as HTMLElement;
  const menuBackDrop2 = document.querySelector("#menu-backdrop2") as HTMLElement;


  listItem.forEach((item) => {
    item.addEventListener ("mouseenter", () => {
      const { left, top, width, height } = item.getBoundingClientRect();

      menuBackDrop.style.setProperty("--left", `${left}px`);
      menuBackDrop.style.setProperty("--top", `${top}px`);
      menuBackDrop.style.setProperty("--width", `${width}px`);
      menuBackDrop.style.setProperty("--height", `${height}px`);

      menuBackDrop.style.opacity = "1";
      menuBackDrop.style.visibility = "visible";
    });

    item.addEventListener("mouseleave", () => {
      menuBackDrop.style.opacity = "0";
      menuBackDrop.style.visibility = "hidden";
    });
  });
  
</script>

<script>
  const menuItems = document.querySelectorAll("li>a ");
  const headerEl = document.querySelector("#landing-header") as HTMLElement;

  const observerOptions = {
    root: null,
    rootMargin: "0px", // en cuanto se vea el elemento
    threshold: 0.9, // porcentaje de visibilidad
  };

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      const { isIntersecting } = entry;
      if (isIntersecting) {
        const color = entry.target.getAttribute("data-header-color");
        headerEl.style.color = color;
      }
    });
  }, observerOptions);

  const sectionElements = document.querySelectorAll(".landing-section");
  sectionElements.forEach((section) => observer.observe(section));
</script>
