<div class="-z-50 blur-sm md:hidden  fixed bg-no-repeat h-screen w-screen"></div>

<style>
	div {
		background: url('/imagenes/efectos/lucesMatera.webp');
		background-size: cover;
		filter: brightness(80%);
		filter: contrast(100%);
		filter: saturate(100%);

		
		
	}
</style>