<a href="
#home"
  ><img
    class="sm:block h-16 w-12 -ml-6 md:h-36 md:w-16 md:mt-24 md:ml-12 lg:h-[200px] lg:w-44 lg:ml-1 lg:top-4 top-3 transition-colors duration-500 hover:cursor-pointer fixed"
    src="https://www.lamatera.mx/wp-content/themes/bmx-lamatera/assets/img-logotipo.svg"
    alt="logo de la matera en sm "
  />
</a>

