---
import We from "./We.astro";
import { type Lang } from "@/i18n/utils";

interface Props {
  lang: Lang;
}
const { lang } = Astro.props;
---
<section
  class="landing-section w-screen min-h-screen text-center"
>
  <We title="nosotros" id="nosotros" lang={lang} />
</section>
