---
const { title, id, color } = Astro.props

import We from "./We.astro"
---
<section
  class="landing-section w-screen h-screen text-center    "
  data-header-color={color}
 
>

<We title="nosotros" id="nosotros" />

</section>

