---
const { color, title, subtitle, id, showFooterContent } = Astro.props;
const textColor = `text-${color}`;
import FooterMenu from './FooterMenu.astro';
---

<section id="${id}" class="landing-section bg-orange-100 h-screen w-screen text-center overflow-hidden relative">
</section>
