---
const { title, id, color } = Astro.props;
import Footer from "./Footer.astro";
---

<section
  class="bg-black/80 text-white flex flex-col items-center justify-center gap-y-12"
  id={id}
  title={title}
>

  <div class="flex justify-center mt-28 ">
    <h1 class="text-5xl text-white font-bold">Nosotros</h1>
  </div>


  <article
    class="  flex flex-col items-center justify-center mx-8 md:flex-row mb-2 gap-x-8 lg:mt-4 "
  >
    <img
      src="/imagenes/nosotros/nosotros2.webp"
      alt="foto del restaurante "
      class="nosotros-img md:w-[500px] lg:w-[700px] xl:w-[800px] mb-12 lg:mb-0 md:order-2 object-cover rounded-3xl  md:mx-auto"
    />
    <div class="md:order-1 md:w-1/3 xl:w-3/6">
      <h1 class="text-3xl font-bold mb-4 lg:text-6xl">Ambiente</h1>
      <p class="text-md ">
        Restaurante argentino de ambiente bohemio. Su cava subterránea, con
        temperatura y humedad controladas, alberga más de 200 etiquetas de vinos
        del nuevo y viejo mundo. La consistente calidad de nuestra cocina, el
        especial cuidado en los detalles y la personalidad sencilla y acogedora
        del lugar, han consolidado a La Matera como un punto de referencia en la
        ciudad.
      </p>
    </div>

  </article>



  <article
    class="flex flex-col items-center justify-center mx-8 md:flex-row mb-2 gap-x-8 mt-4 lg:mx-24 lg:mt-0 "
  >
    <img
      src="/imagenes/nosotros/nosotros1.webp"
      alt="foto de nosotros "
      class="nosotros-img h-[350px] md:h-[500px] mb-12 lg:mb-80 object-cover rounded-3xl shadow-slate-100/20 md:mx-auto"
    />
    <div class=" mb-24  ">
      <h1 class="text-3xl font-bold mb-4 lg:text-6xl">Equipo</h1>
      <p class="text-md">
        Nace en el año 2000, escoltada de verdes árboles en una atmósfera cálida y fresca. La propuesta: sencillez y elegancia.
      </p>
    </div>
  </article>
  <article class="w-full h-96">
    <iframe
      width="100%"
      height="100%"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?q=20.679541, -103.389572&key=AIzaSyDJtF6NmPlW7a8-myDqxKMQif8CgWORIgU&maptype=roadmap&styles=feature:all|element:labels|visibility:off&styles=feature:all|element:geometry|visibility:simplified|color:0x1f242f&styles=feature:all|element:geometry.fill|visibility:on|color:0x252525&styles=feature:landscape|element:geometry.fill|color:0x1f242f&styles=feature:poi|element:geometry.fill|color:0x1f242f&styles=feature:poi|element:labels.text.fill|color:0xaaaaaa&styles=feature:road|element:all|visibility:simplified&styles=feature:road|element:geometry.fill|color:0x2f3948&styles=feature:road|element:labels.text.fill|color:0x8a8a8a&styles=feature:road.highway|element:geometry.fill|color:0x5d5d5d&styles=feature:road.highway|element:labels.text.fill|color:0xffffff&styles=feature:road.arterial|element:geometry.fill|color:0x373737&styles=feature:road.local|element:geometry.fill|color:0x373737&styles=feature:transit|element:geometry.fill|color:0x373737&styles=feature:water|element:geometry.fill|color:0x17263c&zoom=15"
      allowfullscreen>
    </iframe>
  </article>
 

  <Footer></Footer>
</section>

