---
// Supports weights 100-900

import LightsBackground from "@/components/LightsBackground.astro";

import "@fontsource-variable/lora";
// Supports weights 400-700
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://www.lamatera.mx/wp-content/themes/bmx-lamatera/assets/img-logotipo.svg"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <LightsBackground />
    <slot />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
    --primary: #0e191a;
  }
  html {
    font-family: "Lora Variable";
  }

  /* estilos de las imagenes de la carta  */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: var(--primary);
    height: 100dvh;
  }
  video {
    mask-image: linear-gradient(grey 90%, transparent 100%);
  }
  #carrusel {
    mask-image: linear-gradient(black 92%, transparent 100%);
  }
  /* #Logo2 {
    transition: opacity 0.5s ease;
  } */
  .invisible {
    display: none;
  }

  .container {
    position: ;
    top: 0px;
    background-size: cover;
    width: 100%;
    height: 100%;

    background: #f5f5f5;
    box-shadow: 0 10px 30px #292929;
  }

  .container .slider .item {
    width: 245px;
    height: 180px;
    position: absolute;
    top: 70%;
    transform: translate(0, -25%);
    border-radius: 20px;
    box-shadow: 0 30px 70px #0f0f0f;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
    z-index: 1;
  }
  @media (max-width: 670px) {
    .container .slider .item {
      width: 245px;
      height: 120px;
    }
  }

  .slider .item:nth-child(1),
  .slider .item:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  /* casamatera imagen  */
  .slider .item:nth-child(3) {
    left: 85%;
  }
  /* pan nuestro imagen  */
  .slider .item:nth-child(4) {
    left: calc(89%);
  }
  /* mesa imagen */
  .slider .item:nth-child(5) {
    left: calc(92%);
  }
  /* camarones imagen  */
  .slider .item:nth-child(6) {
    left: calc(97%);
  }

  /* Hide all after nth child 5 */
  .slider .item:nth-child(n + 7) {
    display: none;
  }

  @media (max-width: 640px) {
    .slider .item:nth-child(3) {
      left: 78%;
    }
    .slider .item:nth-child(4) {
      left: 83%;
    }
    .slider .item:nth-child(5) {
      left: calc(89%);
    }
  }
  /* pantalla xl */
  /* casa matera */
  @media (min-width: 1900px) {
    .slider .item:nth-child(3) {
      left: 85%;
    }
    /* pan nuestro */
    .slider .item:nth-child(4) {
      left: 88%;
    }
    /* mesa */
    .slider .item:nth-child(5) {
      left: 91%;
    }
    /* camarones imagen  */
    .slider .item:nth-child(6) {
      left: calc(95%);
    }
  }
  .item .content {
    position: absolute;
    top: 50%;
    left: 50px;
    width: 500px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: "Lora Variable", "Open Sans", "Helvetica Neue", sans-serif;
    display: none;
  }

  .slider .item:nth-child(2) .content {
    display: block;
  }

  .content .name {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    width: 800px;
    animation: animate 1s ease-in-out 1 forwards;
  }
  @media (max-width: 768px) {
    .item .content {
      top: 46%;
      width: 280px;
      left: 20px;
    }
  }

  /* // medidad en xl */
  @media (min-width: 1900px) {
    .content .name {
      font-size: 6rem;
    }
  }

  /* // medidas en sm */

  .content .description {
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    font-size: 18px;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
  }
  @media (min-width: 1900px) {
    .content .description {
      font-size: 19px;
    }
  }

  /* //correo */
  .content .contacto {
    padding: 5px 12px;
    border: 2px solid #dc2626;
    margin-left: 10px;
    border-radius: 12px;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
    font-size: smaller;
  }
  .content .contacto:hover {
    background-color: #501313;
    border: #501313;
    scale: 0.75;
  }
  @media (max-width: 768px) {
    .content .name {
      font-size: 32px;
      width: 300px;
    }
    .content .description {
      font-size: 12px;
    }
  }

  /* //botn VER MAS */
  /* .content button {
    padding: 5px 12px;
    border: 2px solid #dc2626;
    border-radius: 12px;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
    font-size: smaller;
  } */

  .content button:hover {
    background-color: #501313;
    border: #501313;
    scale: 1.1;
  }

  @keyframes animate {
    from {
      opacity: 0;
      transform: translate(0, 100px);
      filter: blur(33px);
    }
    to {
      opacity: 1;
      transform: translate(0, 0);
      filter: blur(0);
    }
  }
  /* botones next y prev  */
  .buttons {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    position: absolute;
    bottom: 70px;
    z-index: 10;
    filter: drop-shadow(2px 4px 6px black);
  }

  /* efecto de REFELEJO para imagen de nostros */
  .nosotros-img {
    border-radius: 13px;

    object-fit: cover;
    background: hsl(10 80% 100%);
    -webkit-box-reflect: below 6px
      linear-gradient(transparent 0 80%, hsl(0 0% 100% / 0.6) 100%);
  }
  .nosotros-img2 {
    border-radius: 13px;

    object-fit: cover;
    background: hsl(10 80% 100%);
    -webkit-box-reflect: below 6px
      linear-gradient(transparent 0 80%, hsla(0, 0%, 100%, 0.242) 100%);
  }

  /* //botones NEXT y PREV  */

  /* .buttons button {
    background-color: #dc2626;

    width: 100px;
    height: 40px;
    border-radius: 12px; */
  /* border: none; */
  /* cursor: pointer;
    margin: 0 9px;
    margin-bottom: 20px;

    transition: 0.3s;
    box-shadow: 0 0 1px #dc2626;
  } */
  /* @media (max-width: 768px) {
    .buttons button {
      width: 50px;
      height: 30px;
      margin-bottom: 20px;
    }
  }
  .buttons button:hover {
    background-color: #501313;
    color: #fff;
    scale: 1.1;
  } */

  /* .buttons button:hover {
    color: #fff;
    scale: 1.1;
  } */
  /* #Empanadas,
  #Entradas,
  #Pizzas,
  #Ensaladas,
  #Cocina {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    display: none;
  } */

  /* .entradas-div {
  max-height:500px;
  overflow-y: auto;
} */
  .image-drop-shadow-empanadas {
    height: 6rem; /* Altura fija de 12rem */
    width: 6rem; /* Ancho fijo de 12rem */
    object-fit: cover; /* Asegura que la imagen cubra todo el espacio asignado sin deformarse */
    /* Margen superior de 0.5rem */
    margin-right: 0.5rem; /* Margen derecho de 0.5rem */
    margin-left: auto; /* Margen izquierdo automático para centrar horizontalmente */
    filter: drop-shadow(
      2px 4px 6px black
    ); /* Sombra con desplazamiento horizontal de 2px, vertical de 4px y difuminado de 6px */
  }
  .image-drop-shadow {
    height: 8rem; /* Altura fija de 12rem */
    width: 8rem; /* Ancho fijo de 12rem */
    object-fit: cover; /* Asegura que la imagen cubra todo el espacio asignado sin deformarse */
    /* Margen superior de 0.5rem */
    margin-right: 0.5rem; /* Margen derecho de 0.5rem */
    margin-bottom: 0.9rem;
    margin-left: auto; /* Margen izquierdo automático para centrar horizontalmente */
    filter: drop-shadow(
      2px 4px 6px black
    ); /* Sombra con desplazamiento horizontal de 2px, vertical de 4px y difuminado de 6px */
  }
  /* Estilos para la barra de desplazamiento */

  .mostrar {
    visibility: visible;
    opacity: 1;
    
   /* Ajusta este valor según tus necesidades */
    transition: opacity 0.5s ease, max-height 0.5s ease;
  }

  .ocultar {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease;
  }

  .verDiv {
    display: grid;
    opacity: 1;
    max-height: 1000px; /* Ajusta este valor según tus necesidades */
    transition: opacity 0.5s ease, max-height 0.5s ease;
}

.esconderDiv {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease;
}
  .mostrarMD {
    opacity: 1;
    max-height: 2600px; /* Ajusta este valor según tus necesidades */
    transition: opacity 1s ease-in-out;
    position: static; /* Asegúrate de que los elementos mostrados están en el flujo normal del documento */
  }

  .ocultarMD {
    opacity: 0;
    overflow: hidden;
    transition: transform 1s ease-in-out;
    position: absolute; /* Saca los elementos ocultos del flujo normal del documento */
  }
  
</style>
