---
// Supports weights 100-900

import LightsBackground from "@/components/LightsBackground.astro";


import "@fontsource-variable/lora";
import "@fontsource/permanent-marker";
// Supports weights 400-700
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://www.lamatera.mx/wp-content/themes/bmx-lamatera/assets/img-logotipo.svg"
    />
    <meta
      name="description"
      content="Somos un punto de referencia en la ciudad, un restaurante con gran trayectoria en Guadalajara. Ven y disfruta de la experiencia gastronómica de Argentina y conoce una de las cavas más reconocidas."
    />
    <meta name="google-site-verification" content="zuRgqcQ25AX8z3a-qvX5CG-Gfy_eYJSoUt_T7LDRQG4" />
    <meta name="keywords" content="comida,vino,restaurante,argenita,cava,servicio,chef,eventos,argentino,cortes,bife,lomo,vacio,entraña,asado,chorizo,lomito">
    <meta property="og:url" content="https://www.matera.online/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="La Matera">
    <meta property="og:description" content="Somos un punto de referencia en la ciudad, un restaurante con gran trayectoria en Guadalajara. Ven y disfruta de la experiencia gastronómica de Argentina y conoce una de las cavas más reconocidas.">
    <meta property="og:image" content="https://www.lamatera.online/imagenes/preview.webp">
    <meta content="summary_large_image" name="twitter:card">
    <meta name="twitter:site" content="@lamateragdl">
    <meta name="twitter:creator" content="@AlanSan86780460">
    <meta name="twitter:title" content="La Matera">
    <meta name="twitter:description" content="Somos un punto de referencia en la ciudad, un restaurante con gran trayectoria en Guadalajara. Ven y disfruta de la experiencia gastronómica de Argentina y conoce una de las cavas más reconocidas.">
    <meta name="twitter:image"content="https://wwww.lamatera.online/imagenes/preview.webp">
   
    
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <LightsBackground />
    <slot />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
    --primary: #0e191a;
  }
  @font-face {
    font-family: "boldes";
    src: url("/fuentes/Magical\ Night.woff2");
  }
  html {
    font-family: "Lora Variable";
  }

  /* estilos de las imagenes de la carta  */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: var(--primary);
    height: 100dvh;
  }
  video {
    mask-image: linear-gradient(grey 90%, transparent 100%);

  }
  #carrusel {
      mask-image: linear-gradient(to bottom, transparent 1%, black 10%);
    }
  @media (min-width: 768px) {
    #carrusel {
      mask-image: linear-gradient(to bottom, transparent 1%, black 10%);
    }
    #nosotros {
      mask-image: linear-gradient(black 98%, transparent 100%);
    }
  }

  /* #Logo2 {
    transition: opacity 0.5s ease;
  } */
  .invisible {
    display: none;
  }

  .container {
    position: ;
    top: 0px;
    background-size: cover;
    width: 100%;
    height: 100%;

    background: #f5f5f5;
    box-shadow: 0 10px 30px #292929;
  }

  .container .slider .item {
    width: 245px;
    height: 180px;
    position: absolute;
    top: 70%;
    transform: translate(0, -25%);
    border-radius: 20px;
    box-shadow: 0 30px 70px #0f0f0f;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
    z-index: 1;
  }
  @media (max-width: 670px) {
    .container .slider .item {
      width: 245px;
      height: 120px;
    }
  }

  .slider .item:nth-child(1),
  .slider .item:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  /* casamatera imagen  */
  .slider .item:nth-child(3) {
    left: 85%;
  }
  /* pan nuestro imagen  */
  .slider .item:nth-child(4) {
    left: calc(89%);
  }
  /* mesa imagen */
  .slider .item:nth-child(5) {
    left: calc(92%);
  }
  /* camarones imagen  */
  .slider .item:nth-child(6) {
    left: calc(97%);
  }

  /* Hide all after nth child 5 */
  .slider .item:nth-child(n + 7) {
    display: none;
  }

  @media (max-width: 640px) {
    .slider .item:nth-child(3) {
      left: 78%;
    }
    .slider .item:nth-child(4) {
      left: 83%;
    }
    .slider .item:nth-child(5) {
      left: calc(89%);
    }
  }
  /* pantalla xl */
  /* casa matera */
  @media (min-width: 1900px) {
    .slider .item:nth-child(3) {
      left: 85%;
    }
    /* pan nuestro */
    .slider .item:nth-child(4) {
      left: 88%;
    }
    /* mesa */
    .slider .item:nth-child(5) {
      left: 91%;
    }
    /* camarones imagen  */
    .slider .item:nth-child(6) {
      left: calc(95%);
    }
  }
  .item .content {
    position: absolute;
    top: 50%;
    left: 50px;
    width: 500px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: "Lora Variable", "Open Sans", "Helvetica Neue", sans-serif;
    display: none;
  }

  .slider .item:nth-child(2) .content {
    display: block;
  }

  .content .name {
    flex-direction: column;
    font-size: 4rem;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    width: 900px;
    animation: animate 1s ease-in-out 1 forwards;
  }
  @media (max-width: 768px) {
    .item .content {
      top: 46%;
      width: 280px;
      left: 20px;
    }
  }

  /* // medidad en xl */
  @media (min-width: 1900px) {
    .content .name {
      font-size: 6rem;
    }
  }

  /* // medidas en sm */

  .content .description {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    opacity: 100;

    animation: animate 1s ease-in-out 0.3s 1 forwards;
    color: #c6c6c6;
  }
  .content .subtitle {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    flex-direction: column;

    animation: animate 1s ease-in-out 0.3s 1 forwards;
    color: #c6c6c6;
  }
  @media (min-width: 1900px) {
    .content .description {
      font-size: 19px;
    }
  }

  /* //correo */
  .content .contacto {
    padding: 5px 12px;
    border: 2px solid #dc2626;
    margin-left: 10px;
    border-radius: 12px;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
    font-size: smaller;
  }
  .content .contacto:hover {
    background-color: #501313;
    border: #501313;
    scale: 0.75;
  }
  @media (max-width: 768px) {
    .content .name {
      font-size: 32px;
      width: 300px;
    }
    .content .description {
      font-size: 12px;
    }
  }

  /* //botn VER MAS */
  /* .content button {
    padding: 5px 12px;
    border: 2px solid #dc2626;
    border-radius: 12px;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
    font-size: smaller;
  } */

  .content button:hover {
    background-color: #501313;
    border: #501313;
    scale: 1.1;
  }

  @keyframes animate {
    from {
      opacity: 0;
      transform: translate(0, 100px);
      filter: blur(33px);
    }
    to {
      opacity: 1;
      transform: translate(0, 0);
      filter: blur(0);
    }
  }
  /* botones next y prev  */
  .buttons {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    position: absolute;
    bottom: 70px;
    z-index: 10;
    filter: drop-shadow(2px 4px 6px black);
  }

  /* efecto de REFELEJO para imagen de nostros */
  .nosotros-img {
    border-radius: 13px;

    object-fit: cover;
    background: hsl(10 80% 100%);
    -webkit-box-reflect: below 6px
      linear-gradient(transparent 0 80%, hsl(0 0% 100% / 0.6) 100%);
  }
  .nosotros-img2 {
    border-radius: 13px;

    object-fit: cover;
    background: hsl(10 80% 100%);
    -webkit-box-reflect: below 6px
      linear-gradient(transparent 0 80%, hsla(0, 0%, 100%, 0.242) 100%);
  }

  /* //botones NEXT y PREV  */

  /* .buttons button {
    background-color: #dc2626;

    width: 100px;
    height: 40px;
    border-radius: 12px; */
  /* border: none; */
  /* cursor: pointer;
    margin: 0 9px;
    margin-bottom: 20px;

    transition: 0.3s;
    box-shadow: 0 0 1px #dc2626;
  } */
  /* @media (max-width: 768px) {
    .buttons button {
      width: 50px;
      height: 30px;
      margin-bottom: 20px;
    }
  }
  .buttons button:hover {
    background-color: #501313;
    color: #fff;
    scale: 1.1;
  } */

  /* .buttons button:hover {
    color: #fff;
    scale: 1.1;
  } */
  /* #Empanadas,
  #Entradas,
  #Pizzas,
  #Ensaladas,
  #Cocina {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    display: none;
  } */

  /* .entradas-div {
  max-height:500px;
  overflow-y: auto;
} */
  .image-drop-shadow-empanadas {
    height: 6rem; /* Altura fija de 12rem */
    width: 6rem; /* Ancho fijo de 12rem */
    object-fit: cover; /* Asegura que la imagen cubra todo el espacio asignado sin deformarse */
    /* Margen superior de 0.5rem */
    margin-right: 0.5rem; /* Margen derecho de 0.5rem */
    margin-left: auto; /* Margen izquierdo automático para centrar horizontalmente */
    filter: drop-shadow(
      2px 4px 6px black
    ); /* Sombra con desplazamiento horizontal de 2px, vertical de 4px y difuminado de 6px */
  }
  .image-drop-shadow {
    height: 8rem; /* Altura fija de 12rem */
    width: 8rem; /* Ancho fijo de 12rem */
    object-fit: cover; /* Asegura que la imagen cubra todo el espacio asignado sin deformarse */
    /* Margen superior de 0.5rem */
    margin-right: 0.5rem; /* Margen derecho de 0.5rem */
    margin-bottom: 0.9rem;
    margin-left: auto; /* Margen izquierdo automático para centrar horizontalmente */
    filter: drop-shadow(
      2px 4px 6px black
    ); /* Sombra con desplazamiento horizontal de 2px, vertical de 4px y difuminado de 6px */
  }
  /* Estilos para la barra de desplazamiento */

  /* 
  para hacer un tarnsicion simepres es necesario hacer una medida determinadada maxima usar "max-height" */
  .mostrar {
    opacity: 1;
    max-height: 1150px;
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
  }

  .ocultar {
    opacity: 0;
    max-height: 0;
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
  }

  .ocultarParrilla {
    display: none;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    /* animation: reverseFadeIn 0.5s ease-in-out; */
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
  }

  .mostrarParrilla {
    display: grid;
    opacity: 1;
    max-height: auto;
    /* modifique este para poner la parrilla en columna con el nuevo */
    /* animation: fadeIn 0.5s ease-in-out; */
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
  }

  /* clases para mostrar y ocultar en MD version de prueba */

  @keyframes fadeIn {
    from {
      display: none;
      opacity: 0;
      max-height: 0px;
    }
    to {
      display: grid;
      opacity: 1;
      max-height: 1150px;
    }
  }
  @keyframes reverseFadeIn {
    from {
      display: grid;
      opacity: 1;
      max-height: 1150px;
    }
    to {
      display: none;
      opacity: 0;
      max-height: 0px;
    }
  }

  .ocultarLG {
    display: none;
    opacity: 0;
    max-height: 1150px;
    overflow: hidden;
    animation: reverseFadeInLG 0.5s ease-in-out;
  }

  .mostrarLG {
    display: auto;
    opacity: 1;
    max-height: 1900px;
    animation: fadeInLG 0.5s ease-in;
  }

  @keyframes fadeInLG {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes reverseFadeIn {
    0% {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  .verDiv {
    opacity: 1;
    max-height: 1000px; /* Ajusta este valor según tus necesidades */
    transition: opacity 0.5s ease, max-height 0.5s ease;
  }

  .esconderDiv {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease;
  }
  .simple-radial {
    background: radial-gradient(rgb(80, 82, 78), rgb(0, 0, 0));
  }
  #pulser {
    animation: pulser2 2s ease-in infinite;
  }

  #pulser::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 0.3px solid white;

    animation: pulser 2s ease-in infinite;
    z-index: -1;
  }

  @keyframes pulser {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0.2;
      scale: 11;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes pulser2 {
    0% {
      scale: 1;
    }
    50% {
      scale: 0.5;
    }
  }
</style>
